body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 1rem;
  font-size: 2.25rem;
}

.welcome-msg {
  font-weight: normal;
  font-size: 2.25rem;
}

.welcome-msg > div {
  margin: 0.5rem 0;
}

.name-break {
  display: none;
}

.hand-wave-emoji {
  animation-name: hand-wave;
  animation-duration: 3s;
  display: inline-block;
  animation-iteration-count: infinite;
}

main,
section {
  margin: 4rem 0;
}

.about-me-summary {
  width: 70%;
}

.highlighted-text {
  background: linear-gradient(to left, white 50%, pink 50%) right;
  background-size: 200%;
  animation: text-highlight 2s forwards;
  animation-delay: 1s;
}

.my-portrait {
  width: 100%;
  display: grid;
  grid-template-columns: 30% 70%;
  border: 1px solid black;
}
.filter-select {
  border-right: 1px dashed black;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.color-thumbnail {
  border: 1px solid black;
  padding: 0.75rem;
  cursor: pointer;
  position: relative;
}

.portrait-thumbnail > img {
  width: 7rem;
}
.image-display {
  display: flex;
  justify-content: center;
  position: relative;
}
.image-display::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(150, 8, 230, 0.16);
}
.portrait {
  margin: 1rem;
  width: 30rem;
}

@keyframes text-highlight {
  0% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

@keyframes hand-wave {
  0% {
    transform: rotate(0deg);
  }
  8% {
    transform: rotate(14deg);
  }
  16% {
    transform: rotate(-8deg);
  }
  24% {
    transform: rotate(14deg);
  }
  32% {
    transform: rotate(-4deg);
  }
  40% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Modifications for mobile */
@media only screen and (max-width: 775px) {
  body {
    font-size: 2.5rem;
  }
  .welcome-msg {
    font-size: 2.5rem;
  }
  .welcome-msg > div {
    margin: 1.25rem 0;
  }
  .name-break {
    display: block;
  }
  .about-me-summary {
    width: unset;
  }
  .filter-select {
    display: none;
  }
  .image-display::after {
    display: none;
  }
  .my-portrait {
    display: block;
    border: unset;
  }
  .portrait {
    margin: unset;
    width: 100%;
  }
}

@media only screen and (min-width: 1200px) {
  html {
    display: flex;
    justify-content: center;
  }
  body {
    max-width: 1200px;
  }
}
