:root {
  --heading-font: "Libre Baskerville", serif;
  --desc-font-size: 1.75rem;
  font-size: 0.75rem;
  text-align: justify;
}
body {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "EB Garamond", serif;
  font-weight: 400;
  margin: 3rem auto;
  font-size: 1.75rem;
  max-width: 950px;
}
main {
  margin-bottom: 4rem;
}
.site-header {
  font-family: var(--heading-font);
  font-weight: 400;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  font-style: italic;
}
.welcome-msg {
  margin: 0;
  display: flex;
  flex-direction: column;
}
.repo-profile-links {
  display: flex;
  gap: 0.5rem;
}
.header-link {
  text-decoration: none;
}
.nav-logo {
  width: 2.5rem;
  cursor: pointer;
}
.link-logo {
  font-family: unset;
}
.link-emoji {
  font-size: 1.5rem;
  font-weight: 400;
  font-style: normal;
}
.name-break {
  display: none;
}

.hand-wave-emoji {
  animation-name: hand-wave;
  animation-duration: 3s;
  display: inline-block;
  animation-iteration-count: infinite;
  font-style: normal;
}

main,
section {
  margin: 4rem 0;
}

section {
  border-bottom: 2px solid black;
}

.about-me-summary {
  width: 70%;
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
}
.tech-stack {
  font-size: 1.65rem;
  font-style: italic;
  margin: 0;
}
.section-title {
  font-family: var(--heading-font);
  font-size: 2.5rem;
  font-style: italic;
}
.project-list {
  padding: 0;
  margin-bottom: 0;
}
.projects-section {
  border-bottom: 2px solid black;
}
.project-title {
  width: fit-content;
  font-family: var(--heading-font);
  font-style: italic;
  font-size: 1.8rem;
  display: flex;
  gap: 0.25rem;
  margin: 0.5rem 0;
  align-items: center;
}
.project-title a {
  text-decoration: none;
  color: inherit;
}
.project-title-link {
  border-bottom: 3px solid white;
}
.project-title-link:hover {
  border-bottom: 3px solid black;
}
.repo-link > img {
  width: 1.75rem;
  margin-left: 0.5rem;
  border-bottom: 3px solid white;
}
.project-list-item {
  list-style: none;
  border-top: 2px solid black;
  padding: 2rem 0;
}
.project-description {
  font-size: var(--desc-font-size);
  line-height: 2.15rem;
}
.project-regrets {
  margin: 3rem 0 0 0;
  font-size: var(--desc-font-size);
}
blockquote {
  display: block;
  margin: 4rem 2.5rem;
  font-size: var(--desc-font-size);
  position: relative;
}
blockquote:before {
  display: block;
  content: "\201C";
  position: absolute;
  font-size: 7rem;
  left: -2.75rem;
  top: -4rem;
  color: black;
}
blockquote cite {
  font-size: 1.65rem;
  display: block;
  margin-top: 1rem;
  font-style: italic;
}
.profession-section {
  padding-bottom: 3rem;
}
.profession-title {
  font-family: var(--heading-font);
  font-style: italic;
  font-size: 1.8rem;
  display: flex;
  justify-content: space-between;
}
.profession-desc {
  font-size: var(--desc-font-size);
}
.profession-duration {
  font-size: 1.35rem;
}
.profession-list {
  padding: 0;
}
.profession-list-item {
  list-style: none;
}
/* Full stack developer highlight animation */
@keyframes text-highlight {
  0% {
    background-position: right;
    color: black;
  }
  100% {
    background-position: left;
    color: white;
  }
}

/* Handwave animation */
@keyframes hand-wave {
  0% {
    transform: rotate(0deg);
  }
  8% {
    transform: rotate(14deg);
  }
  16% {
    transform: rotate(-8deg);
  }
  24% {
    transform: rotate(14deg);
  }
  32% {
    transform: rotate(-4deg);
  }
  40% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Modifications for mobile */
@media only screen and (max-width: 775px) {
  :root {
    font-size: 0.8rem;
    text-align: left;
  }
  body {
    font-size: 2rem;
    max-width: unset;
    margin: 3rem 2.5rem;
  }
  .site-header {
    flex-direction: column;
  }
  .divider {
    display: inline-block;
    height: 1rem;
  }
  .welcome-msg {
    font-size: 2.5rem;
    gap: 2.5rem;
  }
  .welcome-msg > div {
    margin: 1.25rem 0;
  }
  .name-break {
    display: block;
  }
  .about-me-summary {
    width: unset;
  }
  blockquote {
    margin-left: 0;
    margin-right: 0;
  }
  blockquote:before {
    left: -1rem;
  }
  .profession-title {
    flex-direction: column;
    row-gap: 0.5rem;
  }

  /* Remove color filter section for mobile */
  .filter-select {
    display: none;
  }
  .image-display {
    border: none;
  }
  .image-display::after {
    display: none;
  }
  .portrait {
    margin: unset;
    width: 100%;
  }
}
